    <h2>Añadir Cosecha</h2>
    <app-back-button></app-back-button> <!--  Botón para volver -->
  
    <form (ngSubmit)="guardarCosecha()">
        <label>Fecha Inicio:</label>
        <input type="date" [(ngModel)]="nuevaCosecha.fechaInicio" name="fechaInicio" required />
  
        <label>Fecha Fin:</label>
        <input type="date" [(ngModel)]="nuevaCosecha.fechaFin" name="fechaFin" required />
  
        <label>Kilos Obtenidos:</label>
        <input type="number" [(ngModel)]="nuevaCosecha.kilosObtenidos" name="kilosObtenidos" required />
  
        <label>Precio Obtenido:</label>
        <input type="number" [(ngModel)]="nuevaCosecha.precioObtenido" name="precioObtenido" required />
  
      <button type="submit" class="btn-guardar">Guardar</button>
    </form>
  