.tratamiento-container {
  background-color: green;
  padding: 20px;
  color: white;
  text-align: center;
  border-radius: 8px;
}

.tratamiento-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

app-back-button {
  margin-left: auto;
}

/* Tabla de tratamientos */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  background-color: white;
  color: black;
}

th, td {
  border: 2px solid black;
  padding: 10px;
  text-align: center;
}

th {
  background-color: #4CAF50;
  color: white;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

/* Botón de añadir tratamiento */
button {
  display: block;
  margin: 10px auto;
  padding: 10px 20px;
  background-color: blue;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: darkblue;
}

.btn-eliminar {
  background-color: red;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 4px;
}

.btn-eliminar:hover {
  background-color: darkred;
}

