<div class="cosecha-header">
  <h2>Lista de Cosechas</h2>
  <app-back-button></app-back-button>
  <button class="btn-agregar" [routerLink]="['/cultivos', cultivoId, 'cosechas', 'nueva']">
    ➕ Añadir Cosecha
  </button>
</div>
<div class="table-container">
  <table class="responsive-table">
    <thead>
      <tr>
        <th>Fecha Inicio</th>
        <th>Fecha Fin</th>
        <th>Kilos Obtenidos</th>
        <th>Precio Obtenido</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let cosecha of cosechas">
        <td>{{ cosecha.fechaInicio }}</td>
        <td>{{ cosecha.fechaFin }}</td>
        <td>{{ cosecha.kilosObtenidos }}</td>
        <td>{{ cosecha.precioObtenido }}</td>
      </tr>
    </tbody>
  </table>
</div>