<div class="cosecha-header">
  <h2>Lista de Cosechas</h2>
  <app-back-button></app-back-button>
</div>
<button (click)="irAFormularioCosecha()">Añadir Cosecha</button>
<div class="table-container">
  <table class="responsive-table">
    <thead>
      <tr>
        <th>Fecha Inicio</th>
        <th>Fecha Fin</th>
        <th>Kilos Obtenidos</th>
        <th>Precio Obtenido</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let cosecha of cosechas">
        <td>{{ cosecha.fechaInicio }}</td>
        <td>{{ cosecha.fechaFin }}</td>
        <td>{{ cosecha.kilosObtenidos }}</td>
        <td>{{ cosecha.precioObtenido }}</td>
        <td>
          <button class="btn-delete" (click)="eliminarCosecha(cosecha.id)">🗑️ Eliminar</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>