/* Color verde para que coincida con el de los botones */
.navbar {
  background-color: #2E7D32; /* Verde oscuro */
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  font-family: 'Arial', sans-serif;
  font-weight: bold;
  font-size: 20px;
}

/* Centrar el texto y el logo */
.navbar-title {
  flex: 1;
  text-align: center;
}

/* Asegurar que el icono del menú no se superponga con el texto */
.menu-btn {
  position: left;
  top: 15px;
  right: 15px;
  background: none;
  border: none;
  font-size: 24px;
  color: white;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}
