.back-button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  border-radius: 4px;
  font-size: 14px;
  position: absolute;
  right: 20px;
  top: 70px; /* Ajusta para que no esté cubierto */
  z-index: 1100; /* Asegura que esté sobre la navbar */}

.back-button:hover {
  background-color: #45a049;
}
